<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently Playing</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 id="currently-playing-title">Currently Playing</h1>
    {% if track %}
        <div id="track-info">
            <h2 id="track-name">{{ track.item.name }}</h2>
            <p id="track-artist">by {{ track.item.artists[0].name }}</p>
            <img id="album-art" src="{{ track.item.album.images[0].url }}" alt="Album Art" width="300">
        </div> 
    {% else %}
        <p>No track is currently playing.</p>
    {% endif %}
    <a href="/account">Back to Account</a>

    <script>
        $(document).ready(function() {
            function refreshTrack() {
                $.get('/api/current-playing', function(data) {
                    if (data.item) {
                        // Update track information
                        $('#track-name').text(data.item.name);
                        $('#track-artist').text('by ' + data.item.artists[0].name);
                        $('#album-art').attr('src', data.item.album.images[0].url);

                        // Ensure the track info is visible
                        if ($('#track-info').is(':hidden')) {
                            $('#track-info').show();
                        }
                    } else {
                        // If no track is playing, display a message
                        $('#track-info').hide();
                        if ($('#no-track-message').length === 0) {
                            $('body').append('<p id="no-track-message">No track is currently playing.</p>');
                        }

                    }
                });
            }

            // Refresh track every 2 seconds
            setInterval(refreshTrack, 2000);
        });
    </script>
</body>
</html>